[Unit]
Description=GSX administrative backup
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/gsx-admin/scripts/backup_admin_data.sh
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
